<div class="container">
    <div class="card">
        <div class="card-header" align="center"><h6>Mi lista de tareas</h6></div> 
        <div class="card-body">  
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <th>Tarea</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tareas of tareas">
                        <td>{{tareas.nombre}}</td>
                        <td>{{tareas.descripcion}}</td>
                        <td><button class="btn btn-warning btn-sm">Editar</button></td>
                        <td><button class="btn btn-danger btn-sm">Borrar</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

