<div class="jumbotron jumboColor" @enterState>
    <div class="row">
        <div class="col-md-6">
            <img src="https://img.icons8.com/doodle/60/000000/hello--v1.png"/>
            <h2 class="h2Color">¡Bienvenido amigo visitante!</h2>
            <hr/>
            <p class="textColor" align="justify">
                Disfruta de este video mientras navegas en esta sección. <br/><br/>
                Este sitio lo he creado como una prueba para poder practicar mis conocimientos
                de Angular y presentar un poco sobre mí persona, así como mis trabajos y trayectoria.
            </p>
        </div>
        <div class="col-md-6">
            <iframe 
                    class="iframe table-responsive"
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/9RHFFeQ2tu4" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    </div>    
</div>
<div class="" @enterState>
<div class="container" align="center" data-aos="fade-left" data-aos-delay="500">
    <h2 class="h2Color" align="center">Un poco sobre mí</h2>
    <hr/>
    <img src="./assets/images/me2.jpg" alt="yo" class="image" align="center">
    <hr/>
    <p class="textColor" align="justify">
        Mi nombre es José Abraham Solís Ramírez, soy Licenciado en Tecnologías Computacionales, egresado de la Universidad
        Veracruzana. Me gusta mucho el desarrollo web, desarrollo móvil y actualmente también he despertado un interés sobre
        el machine learning y IoT. <br/><br/>
        Por otro lado, también me gusta mucho la música, leer, hacer ejercicio y buscar cosas nuevas con las cuales pueda
        seguir aprendiendo y ponerme a prueba.
    </p>
    <hr/>
</div>
    <div class="container">
        <h2 class="h2Color" data-aos="fade-right">Estudios</h2>
        <p class="textColor" data-aos="fade-right"><li>Licenciado en tecnologías computacionales - Universidad Veracruzana</li></p>
        <hr/>
        <h2 class="h2Color" data-aos="fade-left">Conocimientos</h2>
        <p class="textColor" data-aos="fade-left">Actualmente he trabajado con estas tecnologías</p>
        <ul class="navbar-nav navbar-center bd-navbar-nav flex-row" data-aos="fade-left">
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/laravel.png" alt="">
            </li>
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/vue.png" alt="">
            </li>
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/python.png" alt="">
            </li>
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/css.png" alt="">
            </li>
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/html.png" alt="">
            </li>
        </ul>
        
        <hr/>
        <h2 class="h2Color" data-aos="fade-left">Actualmente estoy aprendiendo</h2>
        <ul class="navbar-nav navbar-center bd-navbar-nav flex-row" data-aos="fade-left">
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/angular.png" alt="">
            </li>
            <li class="nav-item">
                <img class="image-ico" src="./assets/images/type.png" alt="">
            </li>
        </ul>
        <hr/>
        <h2 class="h2Color" data-aos="fade-left">Metas</h2>
        <li class="textColor" data-aos="fade-right">Aprender <strong>React</strong></li>
        <li class="textColor" data-aos="fade-left">Estudiar un posgrado</li>
        <li class="textColor" data-aos="fade-right">Aprender <strong>Tensorflow</strong></li>
        <li class="textColor" data-aos="fade-left">Adentrarme más en el área de IoT</li>
    </div>
</div>
