<div class="jumbotron jumboColor">
    <div class="row">
        <div class="col-md-6">
            <h2 class="h2Color">Bienvenido amigo visitante</h2>
            <hr/>
            <p class="textColor" align="justify">
                Disfruta de este video mientras navegas en esta sección <br/>
                Este sitio lo he creado como una prueba para poder practicar mis conocimientos
                de Angular y presentar un poco sobre mí persona, así como mis trabajos.
            </p>
        </div>
        <div class="col-md-4">
            <iframe 
                    class="iframe"
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/b1zgmM2lalo" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    </div>    
</div>
<div class="">
<div class="container" align="center">
    <h2 class="h2Color" align="center">Un poco sobre mí</h2>
    <hr/>
    <img src="./assets/images/me.jpg" alt="yo" class="image" align="center">
    <hr/>
    <p class="textColor" align="justify">
        Mi nombre es José Abraham Solís Ramírez, soy Licenciado en Tecnologías Computacionales, egresado de la Universidad
        Veracruzana. Me gusta mucho el desarrollo web, desarrollo móvil y actualmente también he despertado un interés sobre
        el machine learning. <br/><br/>
        Por otro lado, también me gusta mucho la música, leer, hacer ejercicio y buscar cosas nuevas con las cuales pueda
        seguir aprendiendo.
    </p>
</div>
</div>
