@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
.pnce-image{
    width: 90%;
    height: 100%;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(94, 97, 100);
}

.texto{
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(94, 97, 100);
}

.lecto-image{
    width: 70%;
    height: 100%;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(94, 97, 100);
}
