<br/>
<div class="container texto">
    <div class="texto title-color" align="center">
        <h2>Mis proyectos más recientes</h2>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8" data-aos="fade-right">
            <img class="pnce-image" src="./assets/images/PNCE.png" alt="">
        </div>
        <div class="col-md-4" data-aos="fade-left">
            <h2>Evaluación PNCE</h2>
            <p align="justify">Plataforma para la evaluación del programa nacional de convivencia escolar de la SEV.</p>
            <p>Año: 2020</p>
            <hr/>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-4" data-aos="fade-right">
            <h2>Tlaxinepani</h2>
            <p align="justify">Dada la creciente difusión sobre la importancia del consumo local, se diseñó esta plataforma web para
               la Coordinación Universitaria para la Sustentabilidad de la Universidad Veracruzana, con la finalidad de 
               acercar a productores y consumidores.
            </p>
            <p>Año: 2020</p>
            <hr/>
        </div>
        <div class="col-md-8" data-aos="fade-left">
            <img class="pnce-image" src="./assets/images/Taxi.png" alt="">
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-8" data-aos="fade-right">
            <img class="lecto-image" src="./assets/images/lecto.png" alt="">
        </div>
        <div class="col-md-4" data-aos="fade-left">
            <h2>LectoApp</h2>
            <p align="justify">Este proyecto fue creado como un trabajo de titulación. Se realizó toda una investigación con
                la finalidad de poder diseñar una aplicación móvil con la cual los niños sordos pudiesen practicar la
                lectura y escritura. 
            </p>
            <p>Fecha: 2020</p>
            <hr/>
        </div>
    </div>
</div>