.mainContainer{
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(94, 97, 100);
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
.add{
    background: #5689A3;
    color: aliceblue;    
    font-family: 'Balsamiq Sans', cursive;
}
.add:hover{
    background: #3f94be;
}

.texto{
    text-align: center;
}
.card-border{
    width: 50%;
    height: 30%;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}